{% extends 'baseAdmin/index.html' %}

{% block contenido %}
<h1>Talleres</h1>
<a href="{% url 'taller:nuevoTaller' %}" class="btn-agregar">Agregar</a>
<table class="table table-responsive table-hover">
	<thead class="thead">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Día</th>
			<th scope="col">Horario</th>
			<th scope="col">Taller</th>
			<th scope="col">Ponente</th>
			<th scope="col">Cupo</th>
			<th scope="col">Acción</th>
		</tr>
	</thead>
	<tbody>
		{% for taller in object_list %}
			<tr>
				<td>{{taller.id}}</td>
				<td class="tabla-id">{{taller.dia}}</td>
				<td class="tabla-id">{{taller.horario}}</td>
				<td class="taller-nombre">{{taller.nombre}}</td>
				<td class="taller-ponente">{{taller.ponente}}</td>
				<td>{{taller.cupo}}</td>
				<td class="acciones">
					<a class="btn" href="{% url 'taller:editarTaller' taller.id %}">Editar</a>
					<a class="btn" href="{% url 'taller:eliminarTaller' taller.id %}">Eliminar</a>
				</td>
			</tr>
		{% endfor %}

	</tbody>
</table>

{% endblock %}